<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="navigation">
    <div class="container">
        <nav class="nav" aria-label="main navigation">
            <button class="toggle" id="toggle" aria-expanded="false" aria-controls="ul-wrapper" aria-label="mobile menu toggle" aria-haspopup="menu">
                <span class="box" aria-hidden="true">
                    <span class="line line1" aria-hidden="true"></span>
                    <span class="line line2" aria-hidden="true"></span>
                    <span class="line line3" aria-hidden="true"></span>
                </span>
            </button>
            <div class="ul-wrapper" id="ul-wrapper">
                <ul id="expanded" class="ul">
                    <li class="li">
                        <a href="/" class="li-link {% if page.url == "/" %} active {% endif %}" {% if page.url == "/" %} aria-current="page" {% endif %}>
                            Home
                        </a>
                    </li>
                    <li class="li">
                        <a href="/blog/" class="li-link {% if page.url == "/blog/" %} active {% endif %}" {% if page.url == "/blog/" %} aria-current="page" {% endif %}>
                            Blog
                        </a>
                    </li>
                    <li class="li hide-on-desktop">
                        <a href="/contact/" class="li-link {% if page.url == "/contact/" %} active {% endif %}" {% if page.url == "/contact/" %} aria-current="page" {% endif %}>
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/contact/" class="button-solid nav-button">Contact Us</a>
        <button id="dark-mode-toggle" aria-label="dark mode toggle" aria-pressed="false">
            <img class="moon" aria-hidden="true" src="/assets/svgs/moon.svg" decoding="async" alt="" width="15" height="15">
            <img class="sun" aria-hidden="true" src="/assets/svgs/sun.svg" decoding="async" alt="" width="15" height="15">
        </button>
    </div>
</header>