---
title: "Contact"
description: "Meta description for the page"
permalink: "/contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/construction.jpg" | resize({ width: 576, height: 640 }) | avif %}"/>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="contact-242">
        <div class="container">
            <div class="content">
                <span class="topper">Contact Form</span>
                <h2 class="title">Contact Us</h2>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque enim risus lorem diam. Viverra egestas penatibus feugiat vitae in dignissim.
                </p>
            </div>

            <form id="form-242" name="Contact Form" method="post">
                <label class="label">
                    Name
                    <input class="input" required type="text" id="name-242" name="name" placeholder="John/Jane Doe">
                </label>
                <label class="label">
                    Email
                    <input class="input" required type="text" id="email-242" name="email" placeholder="name@company.com">
                </label>
                <label class="label">
                    Phone
                    <input class="input" required type="text" id="phone-242" name="phone" placeholder="+1 (206) 987-6543">
                </label>
                <label class="label">
                    How Did You Find Us
                    <input class="input" type="text" id="find-242" name="find-us" placeholder="Social Media, Family, Friend...">
                </label>
                <label class="label label-message">
                    Message
                    <textarea class="input textarea" required name="Message" id="message-242" placeholder="Hello, I’m interested in..."></textarea>
                </label>
                <button class="button-solid submit" type="submit">Submit Message Now</button>
            </form>

            <div class="right-section">
                <ul class="ul">
                    <li class="li">
                        <picture class="icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/mail.svg" alt="mail icon" class="icon" width="36" height="36" decoding="async">
                        </picture>
                        <div class="flex-group">
                            <span class="header">Email</span>
                            <a href="mailto:name@randomdomain.com" class="link">name@randomdomain.com</a>
                        </div>
                    </li>
                    <li class="li">
                        <picture class="icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone.svg" alt="phone icon" class="icon" width="36" height="36" decoding="async">
                        </picture>
                        <div class="flex-group">
                            <span class="header">Phone</span>
                            <a href="tel:206-987-6543" class="link">(206) 987-6543</a>
                        </div>
                    </li>
                    <li class="li">
                        <picture class="icon-wrapper">
                            <img aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin.svg" alt="address icon" class="icon" width="36" height="36" decoding="async">
                        </picture>
                        <div class="flex-group">
                            <span class="header">Address</span>
                            <a href="" class="link"><span class="block">9999 Johnstone Drive,</span> Canada ON L4L 4L4</a>
                        </div>
                    </li>
                </ul>

                <picture class="picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/map-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/map.jpg">
                    <img class="img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/map.jpg" alt="google map" width="462" height="438">
                </picture>
            </div>
        </div>
    </section>
                                

{% endblock %}