// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.less, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-313,
    #RPsbsr-313 {
        padding: var(--sectionPadding);

        .container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .quote {
            margin: 0 0 (32/16rem) 0;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            position: relative;
        }

        .quote-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (16/16rem);
            color: #767676;
            display: block;
        }

        .name {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .job {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #767676;
            display: block;
        }

        .quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            bottom: (0/16rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
        }

        .image-group {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, .7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (636/16em);
            position: relative;
        }

        .picture {
            border-radius: (24/16em);
            /* clips img tag corners */
            overflow: hidden;
            position: absolute;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .picture1 {
            width: (522/16em);
            height: (581/16em);
            left: 0;
            top: 0;
        }

        .picture2 {
            width: (414/16em);
            height: (400/16em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            right: 0;
            bottom: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-313,
    #RPsbsr-313 {
        .container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .image-group {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .content {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-313,
        #RPsbsr-313 {
            .image-group {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

            .topper {
                color: var(--primaryLight);
            }

            .title,
            .text,
            .h3,
            .quote-text,
            .name {
                color: var(--bodyTextColorWhite);
            }

            .quote {
                background-color: var(--accent);
            }

            .job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-2326 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 4vw, 4rem);
        }

        .content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            max-width: (586/16rem);
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
        }

        .title {
            max-width: 30ch;
        }

        .text {
            margin-bottom: (16/16rem);

            &:last-of-type {
                margin-bottom: (24/16rem);
            }
        }

        .button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .h3 {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.5em;
            margin: 0;
            color: var(--headerColor);
        }

        .ul {
            margin: (12/16rem) 0 (32/16rem);
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: (12/16rem);
        }

        .li {
            font-size: (16/16rem);
            line-height: 1.5em;
            list-style: none;
            /* 20px - 24px */
            padding-left: clamp(1.25rem, 3vw, 1.5rem);
            color: var(--bodyTextColor);
            position: relative;

            strong {
                color: var(--headerColor);
            }

            &::before {
                content: "";
                width: (8/16rem);
                height: (8/16rem);
                margin-top: (8/16rem);
                background-color: var(--secondary);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(45deg);
            }
        }

        .button-box {
            font-size: inherit;
            width: 100%;
            max-width: (630/16rem);
            /* 48px - 64px */
            margin: clamp(3rem, 6.5vw, 4rem) 0 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: (24/16rem);
        }

        .link {
            /* using ems for font size and wrapper values so we can scale them with a font size at desktop */
            text-decoration: none;
            padding-right: (30/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (16/16rem);
            position: relative;
    
            &:hover {
                &:before {
                    width: 100%;
                    height: (72/16em);
                }
                .wrapper {
                    transform: scale(1.2);
                }
    
                .icon {
                    transform: translateX(0.4375rem);
                }
            }
    
            &:before {
                /* light green circle that animates on hover */
                content: "";
                width: (60/16em);
                height: (60/16em);
                background: var(--primary);
                opacity: .05;
                position: absolute;
                display: block;
                top: 50%;
                left: 0;
                z-index: -1;
                transform: translateY(-50%);
                transition:
                    width 0.3s,
                    height 0.3s,
                    border-radius 0.3s;
            }
        }
    
        .wrapper {
            width: (60/16em);
            height: (60/16em);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform 0.3s;
        }
    
        .icon {
            width: (24/16rem);
            height: auto;
            display: block;
            transition: transform 0.3s;
        }
    
        .info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (4/16rem);
        }
    
        .header {
            font-size: (16/16em);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }
    
        .link-content {
            font-size: (25/16em);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .74em, resets at desktop */
            font-size: ~"min(2.32vw, .9rem)";
            width: (630/16em);
            height: (578/16em);
            display: block;
            position: relative;
            z-index: 1;
            order: -1;
        }

        .picture {
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .picture1 {
            width: (412/16em);
            height: (412/16em);
            border-right: (14/16em) solid #fff;
            border-bottom: (14/16em) solid #fff;
            top: 0;
            bottom: (281/16em);
            left: 0;
        }

        .picture2 {
            width: (413/16em);
            height: (352/16em);
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        .picture3 {
            width: (233/16em);
            height: auto;
            bottom: (93/16em);
            left: (100/16em);

            img {
                position: relative;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-2326 {
        .container {
            max-width: (1280/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-2326 {
        .container {
            flex-direction: row;
            align-items: stretch;
        }

        .button-box {
            /* add font size scaling to make the elements smaller so they fit horizontally */
            font-size: ~"min(1.4vw, 1rem)";
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .image-group {
            font-size: ~"min(1.1vw, 1rem)";
            height: auto;
            min-height: (578/16em);
            margin-bottom: (70/16rem);
            order: initial;
            flex: none;
        }

        .picture1 {
            height: auto;
            top: 0;
            bottom: (166/16em);
        }

        .picture2 {
            height: auto;
            top: (226/16em);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbsr-2326 {
            .title,
            .text,
            .h3,
            .li,
            .header, .link-content {
                color: var(--bodyTextColorWhite);
            }

            .text,
            .li, .header {
                opacity: 0.8;
            }

            .link {
                &:before {
                    background-color: #fff;
                    opacity: .1;
                }
            }

            .li {
                strong {
                    color: var(--bodyTextColorWhite);
                }
            }

            .picture {
                border-color: var(--dark);
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-48 {
        padding: var(--sectionPadding);
        position: relative;

        .container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .title {
            margin: 0;
            max-width: 20ch;
        }

        .image-group {
            /* used rem so it doesn't scale with the font size of on parent */
            font-size: ~"min(1.1vw, 1em)";
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            /* 8px - 20px */
            gap: clamp(0.5rem, 2vw, 1.25rem);
        }

        .row {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            /* 8px - 20px */
            gap: clamp(0.5rem, 2vw, 1.25rem);
        }

        .picture {
            width: 100%;
            position: relative;
            display: block;
            border-radius: (8/16rem);
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .row-1 {
            .picture-1 {
                height: (567/16em);
            }

            .picture-2 {
                height: (629/16em);
            }

            .picture-3 {
                height: (512/16em);
            }
        }

        .row-2 {
            .picture-1 {
                height: (492/16em);
            }

            .picture-2 {
                height: (517/16em);
            }

            .picture-3 {
                height: (629/16em);
            }
        }

        .row-3 {
            .picture-1 {
                height: (625/16em);
            }

            .picture-2 {
                height: (452/16em);
            }

            .picture-3 {
                height: (629/16em);
            }
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-48 {
            .title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-67 {
        padding: var(--sectionPadding);

        .container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .card-group {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            column-gap: (20/16rem);
            row-gap: (64/16rem);
        }

        .item {
            text-align: left;
            list-style: none;
            width: 100%;
            max-width: (630/16rem);
            /* pushes up the same amount the item-img overlaps the card */
            margin: (40/16rem) 0 0 0;
            /* Padding L & R - 16px - 32px */
            padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
            /* 32px - 40px */
            padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
            box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
            border-radius: (8/16rem);
            background: #fff;
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            /* Prevents padding from affecting height & width */
            box-sizing: border-box;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .item-img {
            width: (80/16rem);
            height: (80/16rem);
            position: absolute;
            top: (-40/16rem);
        }

        .item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0 0 (20/16rem);
            padding-bottom: (20/16rem);
            color: var(--bodyTextColor);
            border-bottom: 1px solid #e8e9ec;
        }

        .info {
            width: 100%;
            /* margin-top auto pushes up against the rest of the card, that way when one card has more text than the other, the reviewer info is always pushed to the bottom and lined up with the rest of them.  This ensures better responsiveness for changing content */
            margin: auto 0 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .flex-group {
            width: 100%;
            margin: 0;
        }

        .name {
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 700;
            width: 40%;
            margin: 0;
            display: block;
            color: var(--headerColor);
        }

        .desc {
            font-size: (14/16rem);
            font-weight: 400;
            color: #7d799c;
            display: block;
        }

        .item-stars {
            width: (96/16rem);
            height: (16/16rem);
        }

        .button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-67 {
        .card-group {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-67 {
            .title,
            .text,
            .item-text,
            .name {
                color: var(--bodyTextColorWhite);
            }

            .item {
                background: rgba(0, 0, 0, 0.2);
            }

            .desc {
                color: var(--primaryLight);
            }
        }
    }
}

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-us-1021 {
        padding: var(--sectionPadding);
        background-color: var(--primary);

        .container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .graphic {
            width: 100%;
            max-width: (456/17rem);
            margin: 0 0 (16/16rem) 0;
        }
        .title,
        .text {
            color: var(--bodyTextColorWhite);
        }

        .text {
            opacity: 0.8;
        }

        .card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .item {
            list-style: none;
            width: 100%;
            max-width: (413/16rem);
            position: relative;
            z-index: 1;

            &:hover {
                .picture {
                    background-color: #000;
                    img {
                        transform: scale(1.1);
                        opacity: 0.6;
                    }
                }
            }
        }

        .info {
            width: 85.5%;
            /* 16px - 24px */
            padding: clamp(1rem, 2vw, 1.5rem);
            margin: (-60/16rem) auto 0;
            box-sizing: border-box;
            background-color: #1a1a1a;
            border-top: 4px solid var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 10;
        }

        .name {
            /* 16px - 25px */
            font-size: clamp(1rem, 2vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            /* 4px - 8px */
            margin: 0 0 clamp(0.25rem, 1vw, 0.5rem);
            color: var(--bodyTextColorWhite);
            display: block;
            transition: color 0.3s;
        }

        .job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
            display: block;
        }

        .picture {
            width: 100%;
            /* 246px - 500px */
            height: clamp(15.375rem, 40vw, 32.25rem);
            overflow: hidden;
            display: block;
            position: relative;
            transition: background-color 0.3s;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it behave like a background imahe */
                object-fit: cover;
                /* makes the image position itself at the top of the parent */
                object-position: top;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #meet-us-1021 {
        .card-group {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            width: 100%;
        }

        .item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #meet-us-1021 {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-316 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;

        .card-group {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (600/16em);
            margin: auto;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (40/16rem);
        }

        .item {
            list-style: none;
            width: (235/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .picture {
            width: (80/16rem);
            height: (80/16rem);
            /* 12px - 20px */
            margin-right: clamp(0.75rem, 3vw, 1.25rem);
            border-radius: 50%;
            border: 1px solid var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .icon {
            width: (40/16rem);
            height: auto;
        }

        .flex-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .number {
            font-size: var(--headerFontSize);
            color: var(--bodyTextColor);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0;
            display: block;
        }

        .desc {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            display: block;
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-316 {
        .card-group {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: (20/16rem);
            row-gap: (32/16rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-316 {
        .card-group {
            max-width: (1280/16rem);
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #stats-316 {
            .number {  
                color: var(--bodyTextColorWhite);
            }

            background-color: var(--dark);
        }
    }
}
                                